html {
    box-sizing: border-box;
}

.container {
    max-width: 1700px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    margin: 20px 0 80px 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 600;
    font-size: 40px;
    color: #1E1E1E;
    padding-left: 80px;
    font-family: "Heebo", sans-serif;
}

.menu__list {
    display: flex;
    gap: 27px;
    padding-right: 80px;
}

.menu__list-item {
    font-size: 20px;
    color: #696969;
    font-family: "Roboto", sans-serif;
}


.section__info {
    background-color: #CFCFCF;
}

.section__info-row {
    display: flex;
    justify-content: space-between;
}

.section__info-row img {
    width: 1100px;
    height: 750px;
}

.section__info-main {
    margin-left: 100px;
}

.section__info-title {
    font-size: 64px;
    font-weight: 700;
    color: black;
    font-family: "Heebo", sans-serif;
    padding-top: 45px;
    color: #000000;
}

.section__info-text {
    font-size: 32px;
    color: #21243D;
    font-family: "Roboto", sans-serif;
}

.button-book {
    margin-left: 30px;
    margin-top: 90px;
    background-color: #D9D9D9;
    padding: 11px 28px;
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 1px 10px 110px;
}

.button__book-link {
    font-size: 32px;
    color: #696969;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.button-book:hover {
    background-color: #C0C0C0;
    transform: translateY(-10%);
}

.section__about {
    background-color: #FFF5EE;
    padding-top: 50px;
}

.container__about {
    max-width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.section__about-title {
    font-size: 42px;
    font-weight: 600;
    color: #1E1E1E;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 60px;
}

.about__inner-codding {
    background-color: #DEB887;
    width: 407px;
    height: 233px;
    text-align: center;
    border-radius: 15px;
    transition: 0.6s;
}

.about__inner-codding:hover {
    transform: translateY(-5%)
}

.about__title {
    font-family: "Heebo", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #F5F5F5;
    padding-top: 5px;
}

.about__subtitle {
    font-size: 40px;
}

.about__inner-codding h4 {
    font-size: 32px;
    font-weight: 600;
    color: #FAF0E6;
    font-family: "Roboto", sans-serif;
}

.about__inner-design {
    background-color: #DEB887;
    width: 407px;
    height: 233px;
    text-align: center;
    border-radius: 15px;
    transition: 0.6s;
}

.about__inner-design:hover {
    transform: translateY(-5%)
}

.about__inner-img {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 30px;
}

.section__works-title {
    text-align: center;
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    font-weight: 700;
}

.section__work-row {
    display: flex;
    justify-content: space-between;
}

.section__work-design {
    background-color: #F0F8FF;
    width: 950px;
    height: 600px;
}

.section__work-title {
    font-size: 42px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding-top: 80px;
}

.section__work-img {
    display: flex;
    gap: 70px;
    padding-top: 100px;
    justify-content: center;
}

.section__work-img img {
    width: 150px;
    height: 200px;
}

.section__work-front {
    background-color: #DCDCDC;
    width: 960px;
}

.section__work-img-front {
    padding-left: 100px;
    padding-top: 100px;
}

.img_1 {
    padding-right: 20px;
}

.img_3 {
    padding-left: 20px;
}


.footer {
    background-color: #FFFAFA;
}

.container__footer {
    max-width: 975px;
    padding: 0 10px;
    margin: 0 auto;
}

.section__footer-title {
    font-size: 32px;
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    color: #000000;
    text-align: center;
    padding-top: 10px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.footer__social-link img {
    width: 90px;
    height: 52px;
}

.footer__social-title {
    font-family: "Roboto";
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    text-align: center;
}

.footer__title {
    display: flex;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}


.menu__btn span {
    width: 100%;
    height: 4px;
    background-color: #0A507A;
    transition: background-color .3s;
}

.menu.menu--open .menu__list {
    transform: translateY(0%);
}


.menu.menu--open .menu__btn span {
    background-color: #403E3B;
}

.menu__btn {
    display: none;
    width: 50px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
    z-index: 1;
}

@media (max-width: 1400px) { 
    .section__info-row img {
        width: 1200px;
        height: 650px;
    }
}


@media (max-width: 1300px) {
    .section__info-row {
        display: grid;
        text-align: center;
    }

    .section__info-row img {
        width: 1920px;
        height: 800px;
    }

    .section__info-main {
        padding-bottom: 50px;
    }

    .section__work-row {
        display: grid;
    }

}
@media (max-width: 1000px) {
    .section__work-design {
        width: 900px;
        height: 1000px;
    }

    .section__work-img {
        display: grid;
    }

    .section__work-img-front {
        display: grid;
    }


    .section__work-front {
        width: 900px;
    }

    .section__work-img-front img {
        padding-top: 30px;
    }
}

@media (max-width: 880px) {
    .about__inner {
        display: grid;
        gap: 40px;
        justify-content: center;
    }


}

@media (max-width: 700px) {
     .menu__btn {
        display: flex;
        margin-right: 30px;
    }

    .menu__list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #FFE4E1;
        color: #ffffff;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
        font-size: 24px;
        transform: translateY(-100%);
        transition: transform .3s;
        font-weight: 700;
    }

    .section__info-row img {
        height: 500px;
    }
}

@media (max-width: 450px) {
     .section__info-row img {
        height: 300px;
     }

    .section__info-main {
        padding: 0;
        margin: 0;
    }

    .button-book {
        margin-bottom: 50px;
    }

    .about__inner {
        margin-left: 30px;
    }

    .about__inner-codding {
        width: 300px;
    }

    .about__inner-design {
        width: 300px;
    }

    .section__work-design {
        width: 340px;
    }

    .section__work-front {
        width: 340px;
    }

    .footer__row {
        display: grid;
    }

    .footer__title {
        display: flex;
        justify-content: center;
        padding-bottom: 20px; 
    }
}

